<!-- Search Input Outside Table -->
<div class="flex flex-row items-center justify-between">
  <input
    #inputValue
    (input)="applyGlobalFilter(inputValue.value)"
    pInputText
    placeholder="Search..."
    type="text"
  />

  <ng-container *ngIf="getColumnTemplate('filterTemplate');">
    <ng-container
      [ngTemplateOutletContext]="{
        $implicit: data,
        applyGlobalFilter: applyGlobalFilter,
        applyFilter: applyFilter,
        clearTable: clearTable,
        activeFilters: activeFilters
      }"
      [ngTemplateOutlet]="getColumnTemplate('filterTemplate'!)!"
    ></ng-container>
  </ng-container>

  <ng-container *ngIf="globalFilterTemplate">
    <ng-container
      *ngTemplateOutlet="globalFilterTemplate; context: {
        applyFilter: applyFilter,
        clearTable: clearTable,
        activeFilters: activeFilters
      }">
    </ng-container>
  </ng-container>
  <button (click)="clearTable()" pButton>Reset</button>
</div>

<!-- PrimeNG Table -->
<p-table
  #dt
  [paginator]="true"
  [rows]="10"
  [value]="data"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template let-rowData pTemplate="body">
    <tr>
      <td *ngFor="let col of columns">
        <ng-container *ngIf="getColumnTemplate(col.templateId); else defaultCell">
          <ng-container
            [ngTemplateOutletContext]="{ $implicit: rowData, column: col }"
            [ngTemplateOutlet]="getColumnTemplate(col.templateId!)!"
          ></ng-container>
        </ng-container>
        <ng-template #defaultCell>
          {{ getNestedValue(rowData, col.field) }}
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length" class="text-center">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>

