<!-- Search Input Outside Table -->
<div class="flex flex-row items-center justify-between">
  <input
    #inputValue
    [value]="filterValue"
    (input)="applyGlobalFilter(inputValue.value)"
    pInputText
    placeholder="Search..."
    type="text"
  />

  <ng-container *ngIf="getColumnTemplate('filterTemplate');">
    <ng-container
      [ngTemplateOutletContext]="{
        $implicit: data,
        applyGlobalFilter: applyGlobalFilter,
        applyFilter: applyFilter,
        clearTable: clearTable,
        activeFilters: activeFilters
      }"
      [ngTemplateOutlet]="getColumnTemplate('filterTemplate'!)!"
    ></ng-container>
  </ng-container>

  <ng-container *ngIf="globalFilterTemplate">
    <ng-container
      *ngTemplateOutlet="globalFilterTemplate; context: {
        applyFilter: applyFilter,
        clearTable: clearTable,
        activeFilters: activeFilters
      }">
    </ng-container>
  </ng-container>
</div>

<!-- PrimeNG Table -->
<p-table
  #dt
  [paginator]="true"
  [rows]="10"
  [value]="data"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  [customSort]="true"
  (onSort)="onSort($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.sortable ? col.field : undefined">
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template let-rowData pTemplate="body">
    <tr 
      [ngClass]="{'cursor-pointer': enableRowClick}" 
      (click)="enableRowClick && onRowClick(rowData)"
    >
      <td *ngFor="let col of columns">
        <ng-container *ngIf="getColumnTemplate(col.templateId); else defaultCell">
          <ng-container
            [ngTemplateOutletContext]="{ $implicit: rowData, column: col }"
            [ngTemplateOutlet]="getColumnTemplate(col.templateId!)!"
          ></ng-container>
        </ng-container>
        <ng-template #defaultCell>
          {{ getNestedValue(rowData, col.field) }}
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length" class="text-center">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Drawer Component -->
<p-sidebar 
  [(visible)]="drawerVisible" 
  [position]="drawerPosition" 
  [styleClass]="drawerStyleClass"
  [dismissible]="true"
  [showCloseIcon]="true"
  [modal]="true"
>
  <ng-template [ngIf]="selectedRow">
    <div class="p-3">
      <!-- Default drawer header -->
      <div *ngIf="!getColumnTemplate('drawerHeaderTemplate')" class="text-xl font-bold mb-4">
        Row Details
      </div>
      
      <!-- Custom drawer header template -->
      <ng-container *ngIf="getColumnTemplate('drawerHeaderTemplate')">
        <ng-container
          [ngTemplateOutletContext]="{ $implicit: selectedRow }"
          [ngTemplateOutlet]="getColumnTemplate('drawerHeaderTemplate')!"
        ></ng-container>
      </ng-container>
      
      <!-- Default drawer content -->
      <div *ngIf="!getColumnTemplate('drawerContentTemplate')" class="grid grid-cols-1 gap-4">
        <div *ngFor="let col of columns" class="mb-3">
          <div class="font-semibold">{{ col.header }}</div>
          <div>
            <ng-container *ngIf="getColumnTemplate(col.templateId); else defaultDrawerValue">
              <ng-container
                [ngTemplateOutletContext]="{ $implicit: selectedRow, column: col }"
                [ngTemplateOutlet]="getColumnTemplate(col.templateId!)!"
              ></ng-container>
            </ng-container>
            <ng-template #defaultDrawerValue>
              {{ getNestedValue(selectedRow, col.field) }}
            </ng-template>
          </div>
        </div>
      </div>
      
      <!-- Custom drawer content template -->
      <ng-container *ngIf="getColumnTemplate('drawerContentTemplate')">
        <ng-container
          [ngTemplateOutletContext]="{ $implicit: selectedRow, closeDrawer: closeDrawer }"
          [ngTemplateOutlet]="getColumnTemplate('drawerContentTemplate')!"
        ></ng-container>
      </ng-container>
      
      <!-- Default drawer footer -->
      <div *ngIf="!getColumnTemplate('drawerFooterTemplate')" class="mt-4 flex justify-end">
        <button 
          pButton 
          label="Close" 
          icon="pi pi-times" 
          class="p-button-outlined" 
          (click)="closeDrawer()"
        ></button>
      </div>
      
      <!-- Custom drawer footer template -->
      <ng-container *ngIf="getColumnTemplate('drawerFooterTemplate')">
        <ng-container
          [ngTemplateOutletContext]="{ $implicit: selectedRow, closeDrawer: closeDrawer }"
          [ngTemplateOutlet]="getColumnTemplate('drawerFooterTemplate')!"
        ></ng-container>
      </ng-container>
    </div>
  </ng-template>
</p-sidebar>

