<app-dynamic-table
  #dt
  [columns]="columns"
  [data]="users"
  [initialFilterValue]="defaultFilter"

>

  <ng-template appColumnTemplate="filterTemplate" let-applyFilter="applyGlobalFilter" let-clear="clearTable">
    <p-select #selectedValue (onChange)="applyFilter(selectedValue.value.code)" [options]="tableStatus"
              class="w-full md:w-56"
              optionLabel="name" placeholder="Select a City"/>
    <button (click)="clear()" label="Clear Filters" pButton></button>

  </ng-template>

  <ng-template #globalFilterTemplate let-applyFilter="applyFilter" let-clear="clearTable">
    Global
    <p-select #selectedValue (onChange)="applyFilter(selectedValue.value.code)" [options]="tableStatus"
              class="w-full md:w-56"
              optionLabel="name" placeholder="Select a City"/>
    <!--    <button (click)="dt.clear()" label="Clear Filters" pButton></button>-->

  </ng-template>
  >
  <!-- Custom template for status column -->
  <!--  <ng-template appColumnTemplate="statusTemplate" let-user>-->
  <!--    <p-tag [severity]="getSeverity(user.status)" [value]="user.status"> </p-tag>-->
  <!--  </ng-template>-->

  <!-- Custom template for date column -->

  <ng-template appColumnTemplate="cityTemplate" let-user>
    <div class="flex flex-col">
      @for (address of user.address; let i = $index; track address) {
        <span>{{ i + 1 }} . {{ address.city }}</span>
      }
    </div>
  </ng-template>
  <ng-template appColumnTemplate="actionTemplate" let-user>
    <p-button icon="pi pi-trash"/>
  </ng-template>
  <ng-template appColumnTemplate="dateTemplate" let-user>
    <span>{{ user.lastLogin | date: "YYYY-MM-dd": "utc" }}</span>
  </ng-template>

</app-dynamic-table>
