<div class="table-container">
  <!-- Global Search & Custom Export Buttons -->
  <div class="table-header">
    <input 
      pInputText 
      type="text"
      (input)="applyGlobalFilter($event.target.value, dt)"
      placeholder="Global Search"
      class="p-inputtext-sm"
    />

    <!-- Custom Global Filter Template (if provided) -->
    <ng-container *ngIf="globalFilterTemplate">
      <ng-container *ngTemplateOutlet="globalFilterTemplate; context: { applyGlobalFilter: applyGlobalFilter }"></ng-container>
    </ng-container>

    <!-- Custom Export Button Template (if provided) -->
    <ng-container *ngIf="exportButtonTemplate">
      <ng-container *ngTemplateOutlet="exportButtonTemplate"></ng-container>
    </ng-container>
  </div>

  <!-- PrimeNG Table -->
  <p-table #dt [value]="data" [paginator]="true" [rows]="10">
    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.sortable ? col.field : null">
          {{ col.header }}
          <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.template; else defaultCell">
            <ng-container *ngTemplateOutlet="col.template; context: { $implicit: rowData }"></ng-container>
          </ng-container>
          <ng-template #defaultCell>{{ rowData[col.field] }}</ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>